// components/DiaryCard.scss
.diary-card {
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);

  .diary-header {
    align-items: flex-start;
    color: #000;
  }

  .nickname {
    font-size: 1rem;
  }

  .diary-content {
    font-size: 1.05rem;
    line-height: 1.6;
  }

  //   .diary-message {
  //     color: #6b4f80;
  //     font-style: italic;
  //   }
}
