.emotion-report {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin-top: 2rem;

  canvas {
    margin-top: 1rem;
  }

  .title {
    color: #89b0ae;
  }

  .subtitle {
    color: #777;
  }
}
